body {

  background: #66cdaa;

  input.submit:hover

}


h1  {font-family: Tangerine, Georgia,serif;
    font-size: 50px;
    font-style: oblique;

  }


img{border-radius: 20}

ol {  list-style: lower-roman;}


/*src: url(https://fonts.google.com/specimen/Gloria+Hallelujah);
@font-face {
  font-family:'Gloria Hallelujah',cursive;
